<!doctype html>
{% extends "firstapp/base.html"%}
{%block body_block%} 
<h2>Login</h2>
     <form action="{%url 'firstapp:user_login'%}" method="POST">
          {%csrf_token%}
          {%if error%}
          <h3>{{error}}</h3>
          {%endif%}
        <h3><label for="username">Username: </label></h3>
        <input type="text" name="username"><br>
        <h3><label for="password">Password: </label></h3>
        <input type="text" name="password"><br><br>
        <input type="submit" value="Log in">
     </form>
{%endblock%} 
