h1{
    color: #ffd166;
    text-align: center;
}
h2{
    color: #ef476f;
}
h3{
    color: #06d6a0;
}
.imp1{
    color: #00296b !important;
}
.center{
    width: 55%;
    background-color: #343434;
    margin-left: auto;
    margin-right: auto;
    padding: 1% 1% 1% 1%;
    border-radius: 3px;
}
body{
    background-color: #464646;
}
p{
    color: #ffffff;
}
a{
    color: #48bfe3;
}
.nav {
    background-color: #5b5b5b;
    overflow: hidden;
}
.nav a{
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}